apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    uid: influxdb
    access: proxy
    url: http://influxdb:8086
    database: system_metrics
    isDefault: true
    editable: true
    jsonData:
      httpMode: GET
